<h1>CA Brisbane Forum</h1>
<p>Welcome to the Brisbane Coder Academy Forum</p>

<%# media from bootstrap %>
<% for question in @questions.order(created_at: :desc) do %>
<div class="media">
    <div class="media-left media-middle">
        <a href="#">
        <img class="media-object" src="<%= question.gravatar %>" >
        </a>
    </div>
    <div class="media-body">
        <%= time_ago_in_words(question.created_at) %>
        <h4 class="media-heading"><%= question.email %> asked:</h4>
        <%= question.body %>
    <div>
        <a href="<%= question_path(question) %>"" class="btn btn-success btn-xs">View Answers</a>
    </div>    
</div>
<% end %>

<%# "/questions/12" %>